<div>
<a href="/movies">Go back!</a>
<br>
<div>
   
    <img src="{{details.image}}" alt="{{details.title}} -image" width="150px">

    <h2>{{details.title}}</h2>

    <h3>Director: {{this.director}}</h3>

    <p>Featured stars:</p>
    <ul>
     {{#each details.stars}}
        <li>{{this}}</li>
     {{/each}}
    </ul>
<p>{{details.description}}</p>

<h5>{{details.showtimes}}</h5>

   
</div>
</div>